.banner{
    width: 100%;
    height: auto;
    padding-top: 5px;
}
a,li{
    list-style: none;
}
.productDetail {
    top: -300%;
    left: 22%;
    z-index: 3;
    position: fixed;
    width: 60%;
    height: auto;
    display: block;
    background: #ffF;
    transition: 0.7s;
    border-radius: 5px;
    border: 5px solid #680000;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}
.productDetail .col-2 img {
    margin-left: 2%;
    margin-top: 2%;
    width: 80%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    
    
}
.info {
    margin-left: 15px;
    margin-top: 0%;
}
.price-p{
    margin: 3px 0px 5px 0px;
}
.Description{
    margin: 3px 0px 5px 0px;
}
h2 {
    font-size: 30px;
    margin-left: 1%;
    margin-top: 1%;
    color: #680000;
    margin-bottom: 0px;
}
.rating span {
    color: #680000;
    font-size: 20px;
    margin-bottom: 0px;

}
.productInfo{
    height: 200px;

}
#size {
    font-size: 16px;
    border: 2px solid #000;
    width: 100px;
}
.closeDetail {
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    color: black;
    top: 0;
    right: 0;
    margin-top: -10px;
    position: absolute;;
}
.quantitydown {
    display: inline-block;
    font-size: 16pt;
    color: #680000;
    width: 28px;
    height: 29px;
    border-radius: 59%;
    border-left: none;
    background-color: #fff;
    outline: none;
    border: 2px solid black;
}
#quantity, #quan {
    font-size: 16pt;
    width: 40px;
    height: 25px;
   
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 8px;
}
.quantityup {
    display: inline-block;
    font-size: 16pt;
    color: #680000;
    width: 28px;
    height: 29px;
    border-radius: 59%;
    border-left: none;
    background-color: #fff;
    outline: none;
    border: 2px solid black;
}
.addCart{
    background: #680000;
    border-radius: 7px;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    transition: 0.5s;
    margin-bottom: 10px;
    position: relative;
}
.btnAddtoCart{
    color: white;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    margin-left: 4%;
    padding-top: 5px;
    position: absolute;
}
.Cart{
    position: relative;
    width: 50px;
    height: 50px;
}
.Cart .cartNum{
    position: absolute;
    color: burlywood;
   top: -30px;
 right: 10px;
 font-size:20px ;
}
@media only screen and (max-width:750px){
.aside-filter{
visibility: hidden;
position: relative;
}
.cartegory-right-content{
    
}
.cartegory-right{
   
   
    
 
}
}
.aside-filter {
    border: 1px dashed #e5e5e5;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.aside-filter .heading {
    padding-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 10px;
}
.aside-filter .heading .title-head {
    margin-top: 0;
    text-transform: uppercase;
    color: #680000;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
}
.filter-container {
    margin-bottom: 0px;
}
.filter-container__selected-filter {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.filter-container__selected-filter-header {
    margin-bottom: 5px;
}
.filter-container__selected-filter-header-title {
    font-size: 18px;
    font-weight: bold;
    color: #0038AE;
}
.filter-container__clear-all {
    float: right;
    color: #333;
    margin-top: 3px;
}
.aside-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.aside-item .aside-title .title-head {
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.filter-group {
    margin-bottom: 0px;
}
.filter-group ul{
    padding: 0 5px 0 5px;
}
.aside-item .field-search {
    margin-bottom: 10px;
}
.aside-item .field-search input {
    min-height: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 0 7px;
}
.input-group-btn {
    position: relative;
     white-space: nowrap; 
    width: 1%;
    padding: 0;
}
.aside-item .field-search button {
    height: 34px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #f72b3f;
    color: #fff;
}
.filter-group ul {
    max-height: 140px;
    overflow-y: auto;
    padding: 0;
}
.filter-item {
    margin: 0;
    cursor: pointer;
    line-height: 2.5em;
}
label[for] {
    cursor: pointer;
}
.filter-item--check-box .fa {
    margin-right: 5px;
    width: 14px;
    position: relative;
}
label, legend {
    display: block;
    margin-bottom: 2px;
}
.aside-filter .aside-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.filter-item * {
    color: #6f6f6f;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
}
.cartegory{
    padding: 10px 0 0;
}
.cartegory-top{
    padding: 20px;
    padding-bottom: 20px;
}
.cartegory-top p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 20px;
    
}
.cartegory-top a{
    color: red;
    margin: 0px 9px;
    font-size: 20px;
}
.cartegory-top span{
    font-size: 20px;
}
.cartegory-left{
    width: 20%;
}
.cartegory-right{
    width: 80%;
}
cartegory-left-top-iteam:first-child{
    flex:2;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.cartegory-right-content{
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    border: 1px solid #bebebe;
   margin-bottom: 20px;
    
}
.cartegory-right-content-item h1{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    color:#333333;
}
.cartegory-right-content-item img{
    width: 100%;

}
.cartegory-right-content-item p{
    font-size: 12px;
}
.cartegory-right-bottom{
justify-content: space-between;
text-align: center;
margin: 60px 0 20px 0 ;
}

 .product_name {
    overflow: hidden; /* ẩn đi phần chữ phía sau*/
    text-overflow: ellipsis; /*làm mất phần chữ phía sau biến nó thành ....*/
    margin-bottom: 0;
    white-space: nowrap; /* !quan trọng nếu k có cái này sẽ có khoảng trắng làm các ô không đều*/
    font-size: 14px;
    margin-top: 20px;
  
    
}
 .product_prices .special-price {
    color:#680000 ;
    font-weight: 900;
    font-size: 16px;
    
}
 .special-price-sup{
    color:#680000 ;
    font-weight: 900;
  
}
 .product_prices {
    margin-top: 10px;
    margin-bottom: 5px;
}
 .product_name a {
    color: #212121;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    margin-left: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
.product-image button.buynow{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 8px 0px;
    position: absolute;
    width: 100%;
    bottom: -36px;
    transition: 0.25s ease-in-out;
}
.cartegory-right-content-item :hover button.buynow{
    bottom: 0px;
}
.btndetail{
    float:right;
    display: flex;
    width: 60px;
    height: 30px;
    border-radius: 14px;
    border: 4px solid #ff8c00;
    font-size: 14px;
    font-weight: bold;
    color: #ff8c00;
    background: #000;
    transition: 1s;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 7px;
    margin-right: 2px;
}
.product-image{
    display: block;
    position: relative;
  overflow: hidden;
}

.product-wrapper{
    display: block;
}
.product-image img{
    display: block;
}

.text-xs-right {
  
    bottom: 0; 
    left: 0;
    right: 0;
    text-align: center;
     width: 100%; 
     margin-bottom: 20px;
    }
     .pagination {
       
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        padding-left: 0;
        margin: 2px 0;
        border-radius: 4px;
    }
    .pagination>li {
        display: inline;
    }
    .pagination .page-item.disabled .page-link {
        border: 0;
        background: transparent;
        color: #555555;
    }
    .pagination .page-item.active .page-link {
        background-color: #fff;
        border-color: #680000;
        color: #680000;
    }
    .pagination .page-link {
        float: left;
        margin: 0 2.5px;
        width: 28px;
        background: #680000;
        text-align: center;
        height: 28px;
        font-size: 14px;
        line-height: 26px;
        color: #fff;
        border-radius: 0;
        border: 1px solid #680000 !important;
        text-decoration: none;
        border-radius: 3px !important;
        padding: 0;
    }
    .pagination>li:last-child>a, .pagination>li:last-child>span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
